body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

header {
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-bottom: 5px;
  align-items: center;
}

.headCont {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.svg-title {
  width: auto;
  height: 50px;
  display: block;
  margin: 10px;
}

#controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 5px;
  gap: 5px;
  background-color: white;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 3px;
  font-size: 0.7em;
  background-color: #e0e0e0;
  border: 1px solid black;
  cursor: pointer;
  width: 40px;
  height: 40px;

  &:hover {
    background-color: #d1d6c5;
    border: 2px solid #55661f;

  }
}


#on {
  height: 50px;
  width: 50px;
  background-color: white;

  &:hover {
    background-color: #d1d6c5;
    border: 2px solid #55661f;
  }
}

.zero {
  border: 1px solid black;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

input[type="file"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 3px;
  font-size: 0.7em;
  background-color: #e0e0e0;
  border: 1px solid black;
  cursor: pointer;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  border: 1px solid black;
  background-color: lightgray;
}

.transport {
  padding: 3px;
  border: 2px solid #55661f;
  align-items: center;
}

#volume-control {
  font-size: 0.7em;
  text-align: left;
  font-weight: lighter;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 40px;
}

#volume {
  margin-top: 10px;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 40px;
  margin: 1px;
  border: 1px solid gray;
  background-color: white;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 40px;
  margin: 2px;
  border: 1px solid gray;
  background-color: white;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 15px;
  height: 40px;
  margin: 2px;
  border: 1px solid gray;
  background-color: white;
  cursor: pointer;
}

button:hover,
input[type="file"]:hover,
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #d1d6c5;
}

button:active,
input[type="file"]:active,
input[type="range"]::-webkit-slider-thumb:active {
  background-color: #f4f4ea;
}

.time {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: .8em;
  padding: 1px;
  margin: 2px;
  height: 40px;
}

#seekBar {
  width: 150px;
  height: 40px;
  padding: 1px;
}


.meterCont {
  margin: 3px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  width: 100px;
  height: 40px;
  position: relative;
  overflow: hidden;
}

.meter {
  display: flex;
  align-items: center;
  width: 100px;
  height: 40px;
  background-color: #e0e0e0;
  position: relative;
  overflow: hidden;
}

.meter-fill {
  background-color: #79a31c;
  height: 100%;
  width: 0;
  transition: width 0.1s;
  position: absolute;
  left: 0;
  top: 0;
}

.json {
  display: flex;
  border: 1px solid black;
  background-color: olive;
  color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: .9em;
  padding: 10px;
  margin: 2px;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
}

.json:hover {
  background-color: blue;
}

/* ========================================MAIN===================================== */
/* ========================================____===================================== */
.effectContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  max-height: 450px;
  max-width: 100%;
  text-align: left;
  font-size: .9em;
  font-weight: lighter;
}

.delayToolbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
  gap: 3px;
  font-size: 0.9em;
  max-width: 100px;
}

.Disp {
  display: flex;
  flex-wrap: wrap;
  width: 60px;
  height: 30px;
  border: 1px solid black;
  padding: 3px;
}

.Disp-t {
  display: flex;
  flex-wrap: wrap;
  width: 60px;
  height: 40px;
  border: 1px solid black;
  padding: 4px;
}

.Disp-f {
  display: flex;
  flex-wrap: wrap;
  width: 60px;
  height: 20px;
  border: 1px solid black;
  padding: 3px;
}


.effectControl {
  margin: 10px 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="range"] {
  width: 100%;
}

#toggleDelay {
  appearance: none;
  margin: 5px;
  padding: 3px;
  font-size: 0.9em;
  background-color: #e0e0e0;
  /* Default color */
  border: 1px solid black;
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s;


  &:hover {
    background-color: #d1d6c5;
    border: 2px solid #55661f;
  }

  &:active {
    background-color: #f4f4ea;

  }
}

#xyPadContainer {
  border: 1px solid gray;
  font-size: 0.9em;
  margin: 3px;
  max-width: 300px;


}

.XYcontainer {
  border: 3px solid #065a82;
  width: 300px;
  height: 300px;
}

#xy-controller rect {
  fill: #e0f7fa;
}

#xy-controller circle {
  fill: #3c4745;
  cursor: pointer;
}

.value-container {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.value-container div {
  margin-bottom: 5px;
}


#delayTime,
#feedbackControl {
  margin-top: 5px;
  height: 20px;
  width: 170px;
}

.DelayCont {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid gray;
  font-size: 0.9em;
  padding: 3px;
  margin: 2px;
  width: 50%;
  height: 60px;


}




/* ==========================RESPONSIVE===================================== */

@media (max-width: 768px) {

  body {

    overflow-x: hidden;
    overflow-y: hidden;
  }



  header {
    flex-direction: column;
    align-items: center;

  }

  .headCont {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }


  #controls {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));

      gap: 5px;
      width: 100%;
    }
  }

  .delayToolbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
    gap: 3px;
    font-size: 0.9em;
  }

  #controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
    background-color: white;
    width: 100%;

  }

  .effectContainer {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
  }

  #xyPadContainer {
    border: 1px solid gray;
    font-size: 0.9em;
    margin: 3px;
    width: 100%;


  }



