body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  margin: 0;
}

header {
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-bottom: 5px;
  align-items: center;
}

.headCont {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.title {
  display: block;
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
  font-size: 1em;
  font-weight: lighter;
  text-align: center;
}

#controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 5px;
  gap: 10px;
  background-color: white;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 3px;
  font-size: 0.7em;
  background-color: #e0e0e0;
  border: 1px solid black;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

#on {
  height: 50px;
  width: 50px;
  background-color: white;

  &:hover {
    background-color: #d1d6c5;  /* Change color on hover */
    border: 2px solid #55661f;
  }
}

.zero {
  border: 1px solid black;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

input[type="file"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 3px;
  font-size: 0.7em;
  background-color: #e0e0e0;
  border: 1px solid black;
  cursor: pointer;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  border: 1px solid black;
  background-color: lightgray;
}

.transport {
  padding: 3px;
  border: 2px solid #55661f;
  align-items: center;
}

#volume-control {
  font-size: 0.7em;
  text-align: left;
  font-weight: lighter;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 40px;
}

#volume {
  margin-top: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 40px;
  margin: 1px;
  border: 1px solid gray;
  background-color: white;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 40px;
  margin: 2px;
  border: 1px solid gray;
  background-color: white;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 15px;
  height: 40px;
  margin: 2px;
  border: 1px solid gray;
  background-color: white;
  cursor: pointer;
}

button:hover,
input[type="file"]:hover,
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #d1d6c5;
}

button:active,
input[type="file"]:active,
input[type="range"]::-webkit-slider-thumb:active {
  background-color: #f4f4ea;
}       

.time {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: .8em;
  padding: 5px;
}

.meterCont {
  margin: 3px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  width: 100px;
  height: 40px;
  position: relative;
  overflow: hidden;
}

.meter {
  display: flex;
  align-items: center;
  width: 100px;
  height: 40px;
  background-color: #e0e0e0;
  position: relative;
  overflow: hidden;
}

.meter-fill {
  background-color: #79a31c;
  height: 100%;
  width: 0;
  transition: width 0.1s;
  position: absolute;
  left: 0;
  top: 0;
}

.json {
  display: flex;
  border: 1px solid black;
  background-color: olive;
  color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: .9em;
  padding: 10px;
  margin: 2px;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
}

.json:hover {
  background-color: blue;
}

/* ===========================MAIN===================================== */

.effectContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  text-align: left;
  font-size: .9em;
  font-weight: lighter;
}

/* Styles for the toggle delay button with hover effect */
#toggleDelay {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 5px;
  padding: 3px;
  font-size: 0.9em;
  background-color: #e0e0e0;
  border: 1px solid black;
  cursor: pointer;
  width: 40px;
  height: 40px;

  &:hover {
    background-color: #d1d6c5;  /* Change color on hover */
    border: 2px solid #55661f;
  }

  &:active {
    background-color: #f4f4ea;  /* Change color on active */
  }
}

/* ==========================RESPONSIVE===================================== */

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center; /* Center align for better mobile appearance */
  }

  #controls {
    width: 100%;
    justify-content: center; /* Center controls */
  }
}

.title {
  border: 3px solid gray;
  padding: 10px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

#controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
  background-color: white;
  width: 100%; /* Added width to make it responsive */
}

button,
input[type="file"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 3px;
  font-size: 0.7em;
  background-color: #e0e0e0;
  border: 1px solid black;
  cursor: pointer;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  border: 1px solid black;
  background-color: lightgray;
}

button:hover,
input[type="file"]:hover,
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #d0d0d0;
}

button:active,
input[type="file"]:active,
input[type="range"]::-webkit-slider-thumb:active {
  background-color: #c0c0c0;
}

.time {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: .8em;
  padding: 5px;
}
